<%= form_for([@student,@student.comments.build]) do |f| %>
  <div class="field form-group">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, class: 'form-control', :required => true %>
  </div>
  <div class="field form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'form-control', :required => true %>
  </div>
  <div class="actions">
    <%= f.submit 'Save Comment', class: 'btn btn-success btn-block' %>
  </div>
<% end %>
