<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname, class: 'form-control', :required => true %>
  </div>
  <div class="field form-group">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname, class: 'form-control', :required => true %>
  </div>
  <div class="field form-group">
    <%= f.label :birthday %><br>
    <%= f.date_field :birthday, class: 'form-control', :required => true %>
  </div>
  <div class="field form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: 'form-control', :required => true %>
  </div>
  <div class="field form-group">
    <%= f.label :studentid %><br>
    <%= f.text_field :studentid, class: 'form-control', :required => true %>
  </div>
  <div class="actions">
    <%= f.submit 'Save Student', class: 'btn btn-success btn-block' %>
  </div>
<% end %>
